$color1:#212A31;
$color2:#2E3944;
$color3:#124E55;
$color4:#748D92;
$color5:#D3D9D4;
$color6:#964734;

.bg-color1 {
    background-color: $color1;
  }
  
  .bg-color2 {
    background-color: $color2;
  }
  
  .bg-color3 {
    background-color: $color3;
  }
  
  .bg-color4 {
    background-color: $color4;
  }
  
  .bg-color5 {
    background-color: $color5;
  }
  
  .bg-color6 {
    background-color: $color6;
  }