{% extends "splittime/base.html" %}
{% block content %}
<h1>{{ group.name }}</h1>

<h2>{{ group.description }}</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#expenses-tab-pane" type="button" role="tab" aria-controls="expenses-tab-pane" aria-selected="true">Expenses</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#members-tab-pane" type="button" role="tab" aria-controls="members-tab-pane" aria-selected="false">Members</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#totals-tab-pane" type="button" role="tab" aria-controls="totals-tab-pane" aria-selected="false">Totals</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#balances-tab-pane" type="button" role="tab" aria-controls="balances-tab-pane" aria-selected="false">Balances</button>
    </li>
</ul>
  
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="expenses-tab-pane" role="tabpanel" aria-labelledby="expenses-tab" tabindex="0">
        
        <h3>Expenses</h3>
        <div class="vstack gap-2 px-3">
        {% for expense in expenses %}
            <div class="row p-1 pe-3 bg-primary-subtle border border-dark rounded">
                <div class="col-md-11">
                    <a href="{% url 'splittime:expense_details' expense.id %}">{{ expense.name }}</a><br/>
                    {{ expense.payee }} paid {{ expense.amount }} {{ expense.currency }}
                </div> 
                <div class="col-md-1">
                    <a class="btn btn-danger" role="button" href="{% url 'splittime:delete_expense' expense.id %}">Delete</a>
                </div>
            </div>
        {% endfor %}
        </div>
        
        <div class="vstack gap-2 px-3 border border-dark rounded">
        <form action="{% url 'splittime:add_expense' group.id %}" method="post">
        {% csrf_token %}
            <div class="row p-2">
                <div class="col-sm-5">
                    <label for="expense_name">Name</label>
                    <input type="text" class="form-control form-control-sm" id="expense_name" name="expense_name">
                </div>
                <div class="col-sm-5">
                    <label for="payee">Payee</label>
                    <select id="payee" class="form-select form-select-sm" name="payee">
                        {% for group_member in group_members  %}
                        <option value="{{ group_member.member.id}}">{{ group_member.member.username }}</option>
                        {% endfor %}
                </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-sm-5">
                    <label for="expense_amount">Amount</label>
                    <input type="text" class="form-control form-control-sm" id="expense_amount" name="expense_amount">
                    <select id="expense_currency" class="form-select form-select-sm"  name="expense_currency">
                        <option value="USD">USD</option>
                        <option value="YEN">YEN</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-success" value="Add Expense">
                </div>
            </div>
                
                
            
            
        </form>
        </div>
    </div>
    <div class="tab-pane fade" id="members-tab-pane" role="tabpanel" aria-labelledby="members-tab" tabindex="0">
        <h3>Members</h3>
        {% for group_member in group_members %}
        <li>
            {{ group_member.member.username }} - 
            <a href="{% url 'splittime:delete_group_member' group.id group_member.member.id %}">Delete</a>
        </li>
        {% endfor %}
        <form action="{% url 'splittime:add_group_member' group.id %}" method="post">
            {% csrf_token %}
            <filedset>
                <label for="email">Email</label>
                <input type="text" id="member_email" name="member_email">  <br/>
            </filedset>
            <input type="submit" value="Add Member">
        </form>
    </div>
    <div class="tab-pane fade" id="totals-tab-pane" role="tabpanel" aria-labelledby="totals-tab" tabindex="0">
        <h3>Totals</h3>
        {% for k,v in totals.items %}
            <li>{{ k }} - {{ v }}</li>
        {% endfor %}        
    </div>
    <div class="tab-pane fade" id="balances-tab-pane" aria-labelledby="balances-tab" role="tabpanel">
        <h3>Balances</h3>
        <ul>
        {% for k,v in balances.items %}
        <li>
            {{ k }} is owned:
                <ul>
                {% for user, amounts in v.items %}
                <li> 
                    by {{ user }}
                        <ul> 
                        {% for currency, amount in amounts.items %}
                        <li>
                            {{ currency }} - {{ amount }}
                        </li>
                        {% endfor %}
                        </ul>
                </li>
                {% endfor %}
                </ul>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}