{% extends "splittime/base.html" %}
{% block content %}
<h2>All Groups</h2>
    <div class="container-fluid p-4 vstack gap-3 bg-green border border-dark rounded">
        {% if latest_group_list %}
            {% for group in latest_group_list %}
            <div class="row p-1 bg-primary-subtle border border-dark rounded">
                <div class="d-grid gap-2 col-md-10 mx-auto">
                    <h3><a href="{% url 'splittime:group_details' group.id  %}">{{ group.name }}</a></h3>
                    <span>You are owed 100 USD</span>
                    <span>User A owes you 100 USD</span>
                </div>
                <div class="d-grid gap-2 col-md-2 mx-auto">
                    <a class="btn btn-bd-test" href="#">Add Expense</a>
                    <a class="btn btn-primary" href="#">Edit members</a>
                    <a class="btn btn-outline-danger" href="{% url 'splittime:delete_group' group.id %}">Delete Group</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No groups are available.</p>
        {% endif %}

        <form action="{% url 'splittime:add_group' %}" method="post">
        {% csrf_token %}
            <div class="row  p-2 border border-dark rounded">    
                <div class="col-sm-5 p-1">
                    <label for="group_name" class="form-label">Group Name</label><br />
                    <input type="text" class="form-control" id="group_name" name="group_name"> 
                </div>
                <div class="col-sm-5 p-1">
                    <label for="group_description" class="form-label">Group Description</label> <br />
                    <input type="text" class="form-control" id="group_description" name="group_description">
                </div>
                <div class="col-sm-2 p-4">
                    <input type="submit" class="btn btn-success" value="Add Group">
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}